[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/uczen/Desktop/example]
row=3
col=0

[/home/uczen/Desktop/student_projects.desktop]
row=0
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/uczen]
row=2
col=0

